:root {
    --primary-color: #0ea5e9;
    --secondary-color: #e5e7eb;
    --shadow-color: #7d7d7d;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
    height:100dvh;
}

h1,
.username-and-handle {
    font-size:1.5rem;
}

h2 {
    font-size:1.2rem;
    margin-bottom:10px;
}

h3 {
    font-size:1rem;
}

a {
    text-decoration: none;
}

button {
    border:none;
    outline:none;
    font-family: inherit;
    font-size: inherit;
    cursor:pointer;
}
.grid-container {
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / -1;
    background-color: var(--primary-color);
    display:flex;
    flex-direction: column;
    gap:50px;
    padding: 30px 10px;
}

.sidebar div {
    padding-right: 10px;
    display:grid;
    gap:15px 8px;
}

.sidebar a {
    display:grid;
    grid-template-columns: 30% 70%;
}

.sidebar a:hover {
    filter: brightness(90%);
}

.sidebar p, h1 {
    grid-column-start: 2;
    align-self: center;
    font-weight: bold;
    color:white;
}

.sidebar img {
    width:30px;
    grid-column-start: 1;
    justify-self: center;
}

header {
    box-shadow: 2px 2px 5px var(--shadow-color);
    background-color: white;
    grid-column: 2;
    grid-row: 1 / 2;
    display:grid;
    grid-template-rows: 1fr 2fr;
    padding: 20px 30px;
    gap:20px;
}
header .top {
    display: flex;
    gap:20px;
}
header .top .left {
    display: flex;
    align-items: center;
    gap:15px;
    flex:5;
}
#search-bar {
    outline:none;
    padding:5px 15px;
    width: 70%;
    border:none;
    border-radius:10px;
    background-color: var(--secondary-color);
    font-family: inherit;
}
header .top .right {
    flex: 1;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    gap:25px;
    font-weight: bold;
}
.user-info {
    color:black;
    display:flex;
    align-items: center;
    gap:15px;
}
.avatar {
    border-radius: 100%;
}
header .bottom {
    grid-row-start: 2;
    display:flex;
    align-items: center;
}
header .greeting {
    flex:4;
    display:flex;
    align-items: center;
    gap:15px;
    font-weight: bold;
}
header .greeting .text {
    display: flex;
    flex-direction: column;
    gap:5px;
}
header .action-buttons {
    flex:1;
    display:flex;
    justify-content: flex-end;
    gap:25px;
}
header button {
    width: 130px;
    background-color: var(--primary-color);
    color:white;
    font-weight: bold;
    padding: 10px 0;
    border-radius:20px;
}